.skillsHeadingDiv {
  font-family: "nunito";
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: #6c6c6c;
}

.skillsFooterDiv {
  margin: 50px 0px 20px;
  display: flex;
  justify-content: center;
  font-family: nunito;
  font-weight: 700;
  color: #6c6c6c;
}

.pictureBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pictureBox {
  width: 300px;
  height: 220px;
  margin: 10px 50px 10px 50px;
  border-radius: 10%;
  padding: 0;
  padding-top: 20px;
  background-size: 120%;
  color: white;
  font-family: nunito;
  text-align: center;
}

.skillsHeadingItalics {
  font-style: italic;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.pbText {
  font-size: 160%;
  font-family: nunito;
  font-weight: 700;
}
.pbImage {
  width: 40%;
}

.pb1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../../../img/CreAInd.png");
}
.pb2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../../../img/CritThinkAProSol.png");
}
.pb3 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../../../img/ComAColl.png");
}
.pb4 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../../../img/TechAFutFoc.png");
}
