.projectsHeader {
  margin-left: 22%;
  margin-right: 10%;
}

.projectsH1 {
  font-weight: bolder;
  margin-bottom: 30px;
}
.projectsH4 {
  font-size: 1.2em;
  margin: 20px, 0px, 20px, 0px;
}

.projFilterControls {
  position: relative;
  font-family: "open-sans";
  bottom: 30px;
  margin-left: 10%;
  width: 169px;
  height: 600px;
}

.projFilterControlsTop {
  margin-left: 22%;
  margin-right: 10%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.projContent {
  position: relative;
  bottom: 590px;
  margin-left: 22%;
  margin-right: 10%;
}

.MuiFormLabel-root {
  border-bottom: 2px solid grey;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 20px;
}
.MuiFormControlLabel-root {
  font-size: 50%;
}

Button:focus {
  outline: none;
}

.projectItemDiv {
  display: inline-block;
  text-align: center;
  width: 320px;
  height: 320px;
  margin: 20px;
}

.projectItemImage {
  /* border: 2px solid grey; */
  border-radius: 15px;
  width: 314px;
  height: 221px;
  /* box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.4); */
}

.projectItemText {
  display: block;
  height: 100px;
  width: 320px;
}

.projectItemHeading {
  font-size: 130%;
  font-family: nunito;
  font-weight: 700;
  margin-top: 10px;
  color: grey;
}

.projectItemHeading2 {
  font-size: 120%;
  font-family: nunito;
  font-weight: 300;
  margin-top: 10px;
  color: grey;
}

#FormLabel {
  font-family: nunito;
  font-weight: 700;
  text-decoration: none;
}

#FormControlLabel {
  font-family: nunito;
  font-weight: 500;
}

.projectCard {
display: flex;
padding: 1rem 1rem;
border-radius: 10px;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
margin-right: 60px;
margin-left: 100px;
margin-bottom: 1rem;
background-color: white;
font-family: nunito;
font-weight: 700;
}

.projectCardLeft {
justify-content: left;
align-items: center;
width: 80%;
overflow: hidden;
color: grey;
}

.projectCardMiddle {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 200%;
  overflow: hidden;
  color: grey;
  }


.projectCardRight {
  justify-content: right;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: grey;
  }

  .enlargePhoto {
  background-color: white;
  border: 0;
  margin: 10px;
  font-family: nunito;
  font-weight: 700;  
  }
