#projectsHeader {
  margin-left: 22%;
  margin-right: 10%;
}

.projectsH1 {
  font-weight: bolder;
  margin-bottom: 30px;
}
.projectsH4 {
  font-size: 1.2em;
  margin: 20px, 0px, 20px, 0px;
}

.projFilterControls {
  position: relative;
  font-family: "open-sans";
  bottom: 30px;
  margin-left: 10%;
  width: 169px;
  height: 600px;
}

.projFilterControlsTop {
  margin-left: 22%;
  margin-right: 10%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.projContent {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  bottom: 590px;
  min-height: 1000px;
  margin-left: 22%;
  margin-right: 10%;
  margin-bottom: -560px;
}

.MuiFormLabel-root {
  border-bottom: 2px solid grey;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 20px;
}
.MuiFormControlLabel-root {
  font-size: 50%;
}

.projectItemDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 320px;
  height: 330px;
  margin: 20px;
}

.projectItemDiv50 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 150px;
  height: 150px;
  margin: 20px;
}

.projectItemDiv100 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100px;
  height: 100px;
  margin: 20px;
}

.projectItemImage {
  border-radius: 15px;
  width: 314px;
  height: 221px;
}

.projectItemImage50 {
  border-radius: 15px;
  width: 133px;
}

.projectItemImage100 {
  border-radius: 15px;
  width: 80px;
}

.projectItemText {
  display: block;
  height: 100px;
  width: 320px;
}

.projectItemText50 {
  display: block;
  height: 50px;
  width: 150px;
}

.projectItemText100 {
  display: none;
}

.projectItemHeading {
  font-size: 130%;
  font-family: nunito;
  font-weight: 700;
  margin-top: 10px;
  color: grey;
}

.projectItemHeading50 {
  font-size: 100%;
  font-family: nunito;
  font-weight: 700;
  margin-top: 10px;
  color: grey;
}

.projectItemHeading100 {
  font-size: 130%;
  font-family: nunito;
  font-weight: 700;
  margin-top: 10px;
  color: grey;
}

.projectItemHeading2 {
  font-size: 120%;
  font-family: nunito;
  font-weight: 300;
  margin-top: 10px;
  color: grey;
}

.projectItemHeading250 {
  display: none;
}

.projectItemHeading2100 {
  font-size: 120%;
  font-family: nunito;
  font-weight: 300;
  margin-top: 10px;
  color: grey;
}

#FormLabel {
  font-family: nunito;
  font-weight: 700;
  text-decoration: none;
}

#FormControlLabel {
  font-family: nunito;
  font-weight: 500;
}

#complexityRadioButton:focus {
  outline: none;
}

#numberRadioButton:focus {
  outline: none;
}

#numberRadioButton {
  font-family: nunito;
  font-weight: 700;
  color: white;
}

#numberRadioButtonGrey {
  font-family: nunito;
  font-weight: 700;
  color: grey;
}

#complexityRadioButton {
  font-family: nunito;
  font-weight: 700;
  color: white;
}
#complexityRadioButtonGrey {
  font-family: nunito;
  font-weight: 700;
  color: grey;
}

.projectsFootButtons {
  display: flex;
  height: 100px;
  justify-content: flex-end;
  margin-right: 300px;
}

.projectsBackToTopButton {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #e5ab2c;
  border: 2px solid #e5ab2c;
  font-family: nunito;
  color: white;
  font-weight: 700;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.4);
}

.projectsBackToDashButton {
  height: 30px;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #f91c85;
  border: 2px solid #f91c85;
  font-family: nunito;
  color: white;
  font-weight: 700;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.4);
  display: absolute;
  right: 0px;
}

.projectsBackToTopButton:focus {
  outline: none;
}

.projectsBackToDashButton:focus {
  outline: none;
}

.projectCard {
display: flex;
padding: 1rem 1rem;
border-radius: 10px;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
margin-right: 60px;
margin-left: 100px;
margin-bottom: 1rem;
background-color: white;
font-family: nunito;
font-weight: 700;
}

.projectCardLeft {
justify-content: left;
align-items: center;
width: 80%;
overflow: hidden;
color: grey;
}

.projectCardMiddle {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 200%;
  overflow: hidden;
  color: grey;
  }


.projectCardRight {
  justify-content: right;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: grey;
  }

  .enlargePhoto {
  background-color: white;
  border: 0;
  margin: 10px;
  font-family: nunito;
  font-weight: 700;  
}

