.projectsHeader {
  margin-left: 22%;
  margin-right: 10%;
}

.projectsH1 {
  font-weight: bolder;
  margin-bottom: 30px;
}
.projectsH4 {
  font-size: 1.2em;
  margin: 20px, 0px, 20px, 0px;
}

.projFilterControls {
  position: relative;
  bottom: 30px;
  margin-left: 10%;
  width: 169px;
  height: 600px;
}

.projFilterControlsTop {
  margin-left: 22%;
  margin-right: 10%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.projContent {
  position: relative;
  bottom: 590px;
  margin-left: 22%;
  margin-right: 10%;
  height: 2400px;
}

.MuiFormLabel-root {
  border-bottom: 2px solid grey;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 20px;
}
.MuiFormControlLabel-root {
  font-size: 50%;
}

Button:focus {
  outline: none;
}

.projectItemDiv {
  display: inline-block;
  text-align: center;
  width: 320px;
  height: 320px;
  margin: 20px;
}

.projectItemImage {
  border: 2px solid grey;
  border-radius: 15px;
  width: 314px;
  height: 221px;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.4);
}

.projectItemText {
  display: block;
}

.projectItemHeading {
  font-family: nunito;
  font-weight: 700;
  margin-top: 10px;
  color: grey;
}
