.profileDiv {
  background-color: #eeeeee;
}

.profileContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 75px;
}

.profilePhoto {
  height: 500px;
  width: 300px;
  border: 2px solid #e2e2e2;
  border-radius: 30px;
  background-color: white;
  text-align: center;
  margin: 30px;
  padding: 50px;
}

.photo {
  height: 150px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.profileInfo {
  height: 600px;
  width: 700px;
  border: 2px solid #e2e2e2;
  border-radius: 30px;
  background-color: white;
  text-align: center;
  margin: 30px;
  padding: 50px;
  font-size: 1.5em;
  color: grey;
}

.infoSpan {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  font-family: nunito;
  font-weight: 700;
}

#profileNameHeading {
  font-size: 2em;
  margin-bottom: 70px;
}

.profileEditButton {
  font-family: nunito;
  font-weight: 700;
  width: 150px;
  height: 30px;
  border: 3px solid #43c0f6;
  color: #43c0f6;
  background-color: white;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.3);
  font-size: 0.8em;
  transition: 0.2s;
}

.profileEditButton:focus {
  outline: none;
}

.profileEditButton:hover {
  width: 155px;
}

.backButton {
  position: relative;
  left: 1280px;
  bottom: 60px;
  background-color: #f91c85;
  border: 0px;
  border-radius: 7px;
  color: white;
  font-family: nunito;
  font-weight: 700;
  font-size: 1em;
  width: 200px;
  height: 30px;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.3);
  transition: 0.3s;
}

.backButton:hover {
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
  width: 203px;
}

.backDashButton {
  position: relative;
  left: 1080px;
  bottom: 60px;
  background-color: #f91c85;
  border: 0px;
  border-radius: 7px;
  color: white;
  font-family: nunito;
  font-weight: 700;
  font-size: 1em;
  width: 200px;
  height: 30px;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.3);
  transition: 0.3s;
}
.backDashButton:focus {
  outline: none;
  box-shadow: none;
}
.backDashButton:hover {
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
  width: 203px;
}

.backProjButton {
  position: relative;
  left: 1060px;
  bottom: 60px;
  background-color: #e5ab2c;
  border: 0px;
  border-radius: 7px;
  color: white;
  font-family: nunito;
  font-weight: 700;
  font-size: 1em;
  width: 200px;
  height: 30px;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.3);
  transition: 0.3s;
}
.backProjButton:focus {
  outline: none;
  box-shadow: none;
}
.backProjButton:hover {
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
  width: 203px;
}

button:focus {
  outline: none;
}

.infoSpanContainer {
  margin-bottom: 20px;
}

.profileInfo input {
  display: flex;
  border-radius: 10px;
  border: 1px solid rgb(190, 190, 190);
  font-size: 0.8em;
  font-weight: 600;
  padding: 10px;
  width: 225px;
  height: 35px;
  transition: 0.2s;
  justify-content: flex-end;
}

.profileInfo input:focus {
  border: 3px solid rgb(196, 196, 196);
  border-radius: 10px;
  outline: none;
}

.profPicModalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  width: 30vw;
}

.profPicModalContentDivLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 30vw;
  order: 2;
}

.profPicModalContentDivRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 20vw;
}

.profPicPreviewDiv {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: grey;
}

.profPicPreview {
  width: 10vw;
  border-radius: 50%;
}

.profPicModalContentDivLeft button {
  background-color: white;
  border-radius: 5px;
  border: 2px solid grey;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.4);
  width: 100px;
}

#profilePicFileInput {
  max-width: 400px;
  overflow: hidden;
}
