.whatWeOffer {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  flex-wrap: wrap;
}

.leftOfferDiv {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.wwoText {
  width: 400px;
}

.imageButtonContainer {
  display: flex;
  align-items: center;
}

.imageButton {
  height: 150px;
  width: 150px;
  border-radius: 15%;
  margin: 10px;
  border: 1px solid lightskyblue;
  background-image: radial-gradient(rgb(202, 235, 255), rgb(73, 188, 255));
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.4);
  color: white;
  padding: 0px;
  transition: 0.2s;
}

.imageButton:focus {
  outline: none;
  box-shadow: 0px 0px 2px rgb(0, 0, 0, 0.5);
  background-image: radial-gradient(rgb(134, 209, 255), rgb(73, 188, 255));
  transition: 0.2s;
}

.wwoSlider {
  max-width: 50%;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  margin-right: auto;
  margin-left: auto;
}

.wwoImageSlider {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.laptopImage {
  width: 91%;
  transition: 0.3s;
}

.arrow {
  height: 25px;
  width: 25px;
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  z-index: 1000;
  transition: 0.3s;
}

.arrow:hover {
  height: 35px;
  width: 35px;
  border: solid black;
  border-width: 0 3px 3px 0;
}

.leftArrow {
  position: relative;
  left: 20px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.rightArrow {
  position: relative;
  right: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.wwoSliderButtons {
  display: flex;
  justify-content: center;
}

.smallCircle {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
  height: 15px;
  width: 15px;
  border: 2px solid grey;
  border-radius: 50%;
  transition: 0.3s;
}

.wwoh2 {
  font-family: "nunito";
  color: grey;
  font-weight: 700;
}
