.signUpDiv {
  display: flex;
  max-height: 400px;
  align-items: center;
  padding: 10%;
  justify-content: space-between;
<<<<<<< HEAD
  overflow: hidden;
=======
}

.signUpDivh1 {
  font-family: "nunito";
  font-weight: 700;
  font-size: 3em;
  max-width: 1000px;
>>>>>>> 32a6d22850ed7a5f03e3e015da45f46af580b888
}

.prepareText {
  max-width: 40%;
  max-height: 100%;
  object-fit: contain;
  white-space: pre-line;
}

.prepareText > h1 {
  font-size: 2.8em;
  font-weight: 700;
  color: #767676;
}
.prepareText > p {
  font-size: 1.5em;
  font-weight: 700;
  color: #767676;
}

.signUpDivBoldText {
  color: #43c0f6;
  font-family: nunito;
}

.learnMoreButton {
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: nunito;
  color: rgb(119, 119, 119);
  width: 150px;
  border: 3px solid #43c0f6;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(77, 77, 77, 0.4);
}
.signUpButton {
  background-color: #f91c85;
  color: white;
  width: 150px;
  border: 3px solid #f91c85;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(77, 77, 77, 0.4);
  font-weight: 700;
}

.buttonLabel {
  color: grey;
  font-size: 80%;
  width: 150px;
  height: 10px;
  position: relative;
  left: 180px;
  text-align: center;
  bottom: 10px;
  line-height: 15px;
}

.buttonLabel p {
  font-size: 0.8em;
}
