.waitingMainDiv {
  width: 82%; /*changed*/
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.containerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.waitingLeftDiv {
  width: 500px;
  height: 333px;
  border-radius: 10%;
  padding: 0;
  background-size: 120%;
  font-family: nunito;
}
.waitingLeftDivImage {
  width: 500px;
  height: 333px;
}
.waitingRightDiv {
  width: 650px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.waitingTextDiv {
  width: 85%;
  color: grey;
}

.waitingTextDiv h2 {
  font-family: nunito;
  font-weight: 700;
  font-size: 2.5em;
  margin: 0px 0px 0px 60px;
}

.waitingTextDiv h3 {
  font-family: nunito;
  font-size: 1.9em;
  font-weight: 700;
  margin: 35px 0px 0px 60px;
}

.waitingTextDiv p {
  font-family: nunito;
  font-weight: 700;
  margin: 35px 0px 0px 60px;
  font-size: 1.3em;
}

.waitingButtonDiv {
  display: flex;
  justify-content: flex-start;
  width: 85%;
  margin: 50px 0px 0px 120px;
}

.waitingButtonDiv button {
  width: 130px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.4);
  font-family: nunito;
  font-weight: 800;
}
.waitingEnquireButton {
  border: 2px solid #43c0f6;
  background-color: white;
  color: #707070;
  margin-right: 100px;
}

.waitingSignUpButton {
  border: 2px solid #f91c85;
  background-color: #f91c85;
  color: white;
}
