.NavBar {
  height: 60px;
  border: 0px solid #43c0f6;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #43c0f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: nunito;
  font-weight: 700;
  color: white;
  z-index: 1;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
}

.centerDiv {
  display: flex;
  font-size: 0.8em;
}

.CenterList {
  position: relative;
  top: 10px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.smallFlag {
  width: 25%;
  margin: 5px;
}

.langSpan {
  position: relative;
  left: 50px;
  text-align: center;
  margin-right: 60px;
  font-size: 0.7em;
}

.leftDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 100px;
}

.RightDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 150px;
  text-align: end;
}

h2 {
  margin: 0;
  border: 0;
  padding: 0;
}

.logoImage {
  position: relative;
  width: 150%;
}

.CenterList li {
  transition: 0.3s;
}

.CenterList li:hover {
  text-shadow: 0px 2px 5px rgba(0, 0, 141, 0.5);
}

.modalStyle {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  border: 0px;
  background-color: white;
  box-shadow: 2px 5px 5px rgb(0, 0, 0, 0.5);
  transition: 1s;
}

#modalStudents {
  border-right: 1px solid grey;
  width: 400px;
}

#modalTeachers {
  border-left: 1px solid grey;
  width: 400px;
  margin-right: -50px;
}

#centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 250px;
}

#modalInputBox {
  display: block;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 1px solid rgb(190, 190, 190);
  font-size: 0.8em;
  font-weight: 600;
  padding: 10px;
  width: 225px;
  height: 35px;
  transition: 0.2s;
}
#modalInputBox:focus {
  border: 3px solid rgb(196, 196, 196);
  border-radius: 10px;
  outline: none;
}

#modalTitle {
  text-align: center;
  color: rgb(90, 90, 90);
  margin-bottom: 10px;
  font-family: nunito;
  font-weight: 700;
  font-size: 2.4em;
  margin-bottom: 30px;
}

#welcomeModalTitle {
  text-align: center;
  color: rgb(90, 90, 90);
  margin-bottom: 10px;
  font-family: nunito;
  font-weight: 700;
  font-size: 2.4em;
  margin-bottom: 30px;
}

#profilePicModalTitle {
  text-align: center;
  color: rgb(90, 90, 90);
  margin-bottom: 10px;
  font-family: nunito;
  font-weight: 700;
  font-size: 2.4em;
  margin-bottom: 30px;
}

#modalLogInSignUp {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  font-size: 0.9em;
}

#modalLogIn {
  margin-left: 40px;
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(172, 172, 172);
}

#modalSignUp {
  margin-right: 40px;
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(172, 172, 172);
}

#modalLogInDiv {
  cursor: pointer;
  border-bottom: none;
  transition: 0.5s;
}

#modalSignUpDiv {
  cursor: pointer;
  border-bottom: none;
  transition: 0.5s;
}

#modalButton {
  display: block;
  background-color: #f91c85;
  color: white;
  width: 150px;
  border: 3px solid #f91c85;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(77, 77, 77, 0.4);
  font-weight: 700;
  transition: 0.5s;
}

#modalButton:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgb(77, 77, 77, 0.4);
  transition: 0.5s;
}

#ModalStyle {
  outline: none;
}

.profileSpan {
  display: inline;
  font-size: 0.8em;
}

#simple-menu {
}

.MuiPopover-paper {
  background-color: wheat;
}
