/*progress tracker*/

.teacherContentDiv {
  width: 100%;
  height: 100%;
}

.trackBox {
  margin-bottom: 50px;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.25);
  width: 100%;
  height: 180px;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.teachDashContainer {
  width: 90%;
  margin: auto;
  margin-bottom: -10px;
}
.teachDashContainer > h1 {
  margin-bottom: 50px;
  padding-top: 50px;
  font-weight: 700;
  font-size: 1.8em;
  color: #535354;
}

.PTleftDiv {
  height: 100%;
  width: 20%;
  float: left;
  border: none;
  align-items: center;
}

.PTleftDiv p {
  color: #535353;
  font-weight: 650;
  font-size: 1.6em;
  margin: 0px 0px 5px 100px;

}
.PTleftDiv h1 {
  color: #535353;
  font-weight: 700;
  font-size: larger;
  margin: 25px 0px 10px 40px;
}

.PTrightDiv {
  height: 100%;
  width: 80%;
  float: left;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.PTrightDiv button {
  display: inline;
  min-width: 35px;
  min-height: 35px;
  box-shadow: 2px 2px 4px #535353;
  border-radius: 2.1em;
  margin: 0px 10px 0px 10px;
  top: 50%;
  font-weight: 600;
  font-size: 0.8em;
  color: #535353;
  background-color: #ffffff;
}

.PTrightDiv button:focus {
  outline: none;
}
