.KCcontainer {
  background-color: #efeff1;
  padding: 40px;
  color: #606060;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.KCkey {
  margin-top: 2rem;
}
.KCcontainer ul {
  list-style-type: none;
  position: relative;
}

.KCcontainer li:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-size: 40px;
  background-image: url("LogoListImage.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.KCkeyTitle {
  font-weight: bold;
  font-family: nunito;
  margin-bottom: 1px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.KCkeyPara {
  font-family: "Open Sans";
  margin: 0px;
}

.KCtitle h2 {
  font-family: nunito;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 20px;
  color: #606060;
}

.KCtitle h4 {
  font-size: 1.4em;
  font-family: "Open Sans";
  color: #606060;
  margin-top: 25px;
  margin-bottom: 25px;
}

.KCtextBox {
  margin-left: 10%;
  margin-right: 10%;
  width: 70%;
}

.skillsButtonContainer {
  display: flex;
  justify-content: center;
}

.skillsButtonGrey {
  width: 250px;
  font-family: nunito;
  font-weight: 700;
  color: grey;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
  border: 3px solid #efeff1;
  background-color: #efeff1;
  box-shadow: 0px 2px 5px rgb(77, 77, 77, 0.4);
  transition: 0.3s;
}

.skillsButtons {
  font-family: nunito;
  font-weight: 700;
  color: grey;
  width: 250px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
  border: 3px solid #43c0f6;
  background-color: white;
  box-shadow: 0px 2px 5px rgb(77, 77, 77, 0.4);
  transition: 0.3s;
}

.skillsButtons:focus {
  outline: none;
}
.skillsButtonGrey:focus {
  outline: none;
}
.skillsHeadingDiv2 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: nunito;
  font-weight: 700;
  color: rgb(68, 68, 68);
}
